/* Login form */
#login h2{
	text-align: center;
	margin-bottom: 40px;
	
}

#login form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

#login fieldset {
	display: flex;
	flex-direction: column;
	width: 35%;
	gap: 8px;
}

fieldset input{
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 50px;
}

#login input[type="submit"]{
	border: none;
	height: 35px;
}
#login p {
	text-align: center;
}

#login a {
	color: #3D3D3D;	
}