.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);   
}

.modal-wrapper {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 630px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 20px;
    background-color: #ffffff;
}

.close-modal {
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
}

#title-modal {
    font-family: "Work Sans";
    font-size: 26px;
    font-weight: 400;
    color: #000000;
}

.photos {
    width: 420px;
    padding: 30px 0px 60px 0px;    
    border-bottom: 1px #B3B3B3 solid;
}

.modal-wrapper button[type="button"] {
    font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
    border: none;
    height: 36px;
    width: 35%;
}